!!!5
html
	head
		title Quotes
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 Quotes 
		body
			.container
				.main-content
					block content
				.sidebar
					.nav
						h1 Navigation
						p	
							a(href="/") Show a random quote
						p	
							a(href="/quote/all") View all quotes
						p
							a(href="/quote/new") Add a new quote
		footer
			p Matthew Hammond / 2013. Running on Node.js with Express, Jade and Stylus.