!!!5
html
	head
		title Quotes
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 Quotes 
		body
			.container
				.main-content
					block content
				.sidebar
					block sidebar
		footer
			p Matthew Hammond / 2013. Running on Node with Express, Jade and Stylus.