extends layout

block content

	h2 Add a new quote

	br

	form(method="POST", action="/quote/new")
		p
			label(for="text") Quote text <br />
			textarea#text(name="text")
		p
			label(for="author") Quote author <br />
			input#author(name="author")
		p
			input(type="submit", value="Add quote")