extends layout

block content

	h2 View quote

	br

	p= q.text

	p= q.author

	form(action=encodeURIComponent(q.id), method="POST")
		p
			input(name="_method", type="hidden", value="DELETE")
			input(type="submit", value="Delete")

block sidebar
	.widget
		h1 Navigation
		p
			a(href="/") Show a random quote

		p
			a(href="/quote/new") Add a new quote
			
		p
			a(href="/quote/all") View all quotes