extends layout

block content

	h2 View quote

	br

	p= q.text

	p!= "&mdash;" + q.author

	form(action=encodeURIComponent(q.id), method="POST")
		p
			input(name="_method", type="hidden", value="DELETE")
			input(type="submit", value="Delete")