extends layout

block content

	h2 List of all quotes

	p
		- for(var q in quotes) {
			p
				a(href="/quote/" + encodeURIComponent(quotes[q]._id))!= quotes[q].text + " &mdash; " + quotes[q].author
			hr
		- };