extends layout

block content

	h2= title

	p
		- for(var q in quotes) {
			p
				a(href="/quote/" + encodeURIComponent(quotes[q]._id))!= quotes[q].text 
				span!=" &mdash; "
				a(href="/author/" + encodeURIComponent(quotes[q].author))!=quotes[q].author
			hr
		- };