extends layout

block content

	h2= title

	br

	p= q.text

	a(href="/author/" + q.author)!= "&mdash;" + q.author

	p

	form(action=encodeURIComponent(q.id), method="POST")
		p
			input(name="_method", type="hidden", value="DELETE")
			input(type="submit", value="Delete")