h1 Quotes

p
	a(href="/quote/new") Add a new quote

p
	a(href="/quote/random") Show a random quote
ul
	- for(var q in quotes) {
		li
			a(href="/quote/" + encodeURIComponent(q))= quotes[q].text + " -- " + quotes[q].author
	- };
